[submodule "extern/riscv-tests"]
	path = extern/riscv-tests
	url = https://github.com/riscv/riscv-tests.git
[submodule "extern/spike"]
	path = extern/spike
	url = https://github.com/riscv/riscv-isa-sim.git
